.article {
  text-align: left;
  margin-bottom: 40px;

  &__cover-link {
    text-decoration: none;
    color: $text-gray;

    &:hover {
      .article__img-overlay {
        opacity: .2;
      }

      .article__title::after {
        width: 100%;
      }
    }
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__img-wrapper {
    position: relative;
    margin-bottom: 15px;

    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 0;
    }
  }

  &__img-overlay {
    position: absolute;
    width: calc(100% - 20px);
    height: 100%;
    top: 0;
    left: 10px;
    background-color: #000;
    opacity: 0;
    transition: opacity .3s;

    @media screen and (min-width: $screen-md-min) {
      width: calc(100% - 30px);
      left: 15px;
    }
  }

  &__date {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 15px;

  }

  &__title {
    display: inline-block;
    font-size: 26px;
    line-height: 0.9;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 15px;
    position: relative;

    &::after {
      content: '';
      width: 0;
      height: 3px;
      position: absolute;
      bottom: -8px;
      left: 0;
      background-color: $text-gray;
      transition: width .3s;
    }

    @media screen and (min-width: $screen-md-min) {
      font-size: 28px;
    }


    @media screen and (min-width: $screen-lg-min) {
      font-size: 30px;
    }
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__text {
    font-family: $font-family--lato;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 20px;

    @media screen and (min-width: $screen-lg-min) {
      font-size: 20px;
    }
  }

  &__separate-btn-link {
    margin-top: auto;
  }

  &--vertical {
    position: relative;

    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 80px;

      &::after {
        content: '';
        width: 14.52%;
        height: 8%;
        position: absolute;
        left: calc(8.54% + 15px);
        top: 50%;
        transform: translateY(50%);
        background-image: url("../../img/article-decor.svg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
      }
    }
  }
}

