// landscape phones, 480px and up
$screen-sm-min: 480px;

// tablets devices, 768px and up
$screen-md-min: 768px;

// desktops devices, 992px and up
$screen-lg-min: 992px;

// large desktops, 1200px and up
$screen-xlg-min: 1200px;

// COLORS
$gray: #373738;
$gray--light: #f7f7f1;


// TEXT
$text-gray--lightest: #fffefe;
$text-gray--light: #e4e4e4;
$text-gray: #222222;
$text-black: #000000;

$font-family--opensans: 'Open Sans', Arial, Helvetica, sans-serif;
$font-family--lato: 'Lato', Arial, Helvetica, sans-serif;


// lato regular

// opensans:
// regular 400
// semi-bold 600
// bold 700
// extra-bold 800
